{{> header}}

<p>Hi Sarah,</p>
<p>You received a new message in your contact form</p>
<br/>
<strong>Name:</strong> {{firstName}} {{lastName}}</p>
<p><strong>Email:</strong> {{email}}</p>
<p><strong>Message:</strong></p>
<p style="white-space: pre-line;">{{message}}</p>

{{> footer}}
