<div
  style='background:#f2f2f2;padding:20px;text-align:center;color:#555;margin-top:80px;'
>
  <div style='margin-bottom:12px;'>

    <!-- Instagram -->
    <a
      href='https://www.instagram.com/sarahs.odysseys'
      target='_blank'
      style='display:inline-block;margin:0 6px;width:40px;height:40px;border-radius:50%;background:#c6b6a2;text-align:center;line-height:40px;'
    >
      <img
        src='https://cdn-icons-png.flaticon.com/512/717/717392.png'
        alt='Instagram'
        width='20'
        height='20'
        style='vertical-align:middle;'
      />
    </a>

    <!-- LinkedIn -->
    <a
      href='https://ng.linkedin.com/in/sarah-yousuph-8891a3237'
      target='_blank'
      style='display:inline-block;margin:0 6px;width:40px;height:40px;border-radius:50%;background:#c6b6a2;text-align:center;line-height:40px;'
    >
      <img
        src='https://cdn-icons-png.flaticon.com/512/3128/3128219.png'
        alt='LinkedIn'
        width='20'
        height='20'
        style='vertical-align:middle;'
      />
    </a>

    <!-- Medium -->
    <a
      href='https://medium.com/@sarahyousuph.sy'
      target='_blank'
      style='display:inline-block;margin:0 6px;width:40px;height:40px;border-radius:50%;background:#c6b6a2;text-align:center;line-height:40px;'
    >
      <img
        src='https://cdn-icons-png.flaticon.com/512/2111/2111543.png'
        alt='Medium'
        width='20'
        height='20'
        style='vertical-align:middle;'
      />
    </a>

    <!-- Personal Link -->
    <a
      href='https://sarah-yousuph.vercel.app'
      target='_blank'
      style='display:inline-block;margin:0 6px;width:40px;height:40px;border-radius:50%;background:#c6b6a2;text-align:center;line-height:40px;'
    >
      <img
        src='https://cdn-icons-png.flaticon.com/512/659/659999.png'
        alt='Link'
        width='20'
        height='20'
        style='vertical-align:middle;'
      />
    </a>

  </div>

  <p style='margin:0;border-top:1px solid gray;padding-top:12px;'>© 2025 Sarah Yousuph. All rights reserved.</p>
</div>